.fixed__bar::before {
    content: "";
    background: linear-gradient(to bottom right, rgba(255, 255, 255, 0.123), transparent);
    border-radius: 20px;
    height: calc(100% + 4px);
    width: calc(100% + 4px);
    position: absolute;
    top: -2px;
    left: -2px;
    z-index: -1;
}

.fixed__bar::after {
    content: "";
    background: #171e2aaf;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    backdrop-filter: blur(10px);
}