.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 1rem;
}

.left {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left>img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 25px;
}

.left>h5 {
    font-size: 1.1rem;
}

.right {
    display: flex;
    align-items: center;
    gap: 1rem;
    font-size: 2rem;
}

.right>* {
    cursor: pointer;
}