.balance {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
}

.left {
    display: flex;
    flex-direction: column;
    gap: .3rem;
}

.left>h5 {
    color: #343a44;
    font-size: 4vw;
}

.left>div>div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.left>div>div>select {
    padding: .25rem .5rem;
    background-color: #2f3544;
    color: white;
    font-weight: 600;
    border: none;
    outline: none;
    border-radius: 10px;
    font-size: 3vw;
}

.left>div>div>h2 {
    font-size: 8vw;
    font-weight: 500;
}

.left>div>div>h2>span {
    font-size: 5vw;
}

.left>div>div:nth-child(2) {
    margin-top: .2rem;
    color: #21c8d7
}

.right {
    height: 11vw;
    width: 11vw;
    border-radius: 50%;
    background-color: #2f353f;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 7vw;
    color: #21c8d7;
    cursor: pointer;
}